<style>/* Style dla komponentu dodawania pokoju */

  .container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
  }
  
  .form-group {
      margin-bottom: 20px;
  }
  
  label {
      font-size: 18px;
      color: #333;
      margin-bottom: 5px;
  }
  
  input[type="number"],
  input[type="text"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  
  .btn {
      display: inline-block;
      padding: 10px 20px;
      font-size: 18px;
      border: none;
      border-radius: 4px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  
  .btn:hover {
      background-color: #0056b3;
  }
  
  .alert {
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
  }
  
  .alert-danger {
      background-color: #f8d7da;
      color: #721c24;
      border: 1px solid #f5c6cb;
  }
  .form-group select {
  height: 40px; /* Ustawienie większej wysokości */
  width: 200px;
  margin-left: 20px;
}
  </style>
<div class="container">
  <h2>Add Room</h2>
  <form [formGroup]="addRoomForm" (ngSubmit)="AddRoom(addRoomForm.value)">
    
    <div class="form-group">
      <label for="roomNumber">Room Number:</label>
      <input type="number" id="roomNumber" class="form-control" formControlName="roomNumber">
      <div *ngIf="validateControl('roomNumber')" class="alert alert-danger">
        Room Number is required.
      </div>
    </div>
    <div class="form-group">
      <label for="roomPrice">Room Price:</label>
      <input type="number" id="roomPrice" class="form-control" formControlName="roomPrice">
      <div *ngIf="validateControl('roomPrice')" class="alert alert-danger">
        Room Price is required.
      </div>
    </div>
    <div class="form-group">
      <label for="roomCapacity">Room Capacity:</label>
      <input type="number" id="roomCapacity" class="form-control" formControlName="roomCapacity">
      <div *ngIf="validateControl('roomCapacity')" class="alert alert-danger">
        Room Capacity is required.
      </div>
    </div>
    <div class="form-group">
      <label for="roomType">Room Type:</label>
      <select id="roomType" class="form-control" formControlName="roomType">
        <option value="0">Normal</option>
        <option value="1">Vip</option>
      </select>
      <div *ngIf="validateControl('roomType')" class="alert alert-danger">
        Room Type is required.
      </div>
    </div> 
    <button type="submit" class="btn btn-primary">Add Room</button>
  </form>
  <div *ngIf="showError" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>
